.jcrop-base-button {
  font-weight: bold;
  background-color: #0030AF;
  border: none;
  color: #EEE;
  padding: 7px 14px; 
  border-radius: 2px;
  font-size: 0.8em;
}

.jcrop-fileinput-wrapper {
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  input[type=file] {
    font-size: 300px;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.2;
    cursor: pointer;
    z-index: 0;
  }
  button {
    @extend .jcrop-base-button;
  }
}

.jcrop-fileinput-toolbar {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #DEDEDE;
  text-align: right;
  button {
    @extend .jcrop-base-button;
  }
}

.jcrop-fileinput-container {
  display: none;
}
