.jcrop-base-button {
  font-weight: bold;
  background-color: #0030AF;
  border: none;
  color: #EEE;
  padding: 7px 14px;
  border-radius: 2px;
  font-size: 0.8em;
}

.jcrop-fileinput-wrapper {
  input[type=file] {
    font-size: 300px;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.2;
    cursor: pointer;
    z-index: 0;
  }
  button {
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    @extend .jcrop-base-button;
  }
}

.jcrop-fileinput-toolbar {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #DEDEDE;
  text-align: right;
  button {
    @extend .jcrop-base-button;
  }
}

.jcrop-fileinput-container {
  display: none;
}

.jcrop-fileinput-thumbnail {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DEDEDE;
  vertical-align: middle;
}

// Workaround bug in JCrop (https://github.com/tapmodo/Jcrop/issues/36)
.jcrop-keymgr {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
